@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #4461F2;
  --text-gray: #696F79;
  --light-gray: #979CA3;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  background-color: #FBF9F9;
}

.row {
  @apply flex flex-wrap items-center
}